* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.body-background {
    background-color: #F3E5D7;

    .main-container {
        height: 100%;
        margin-top: 128px;
        margin-bottom: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .omelette-recipe {
            background-color: white;
            width: 736px;
            padding: 40px 40px;

            &__image-container {
                display: flex;
                align-self: stretch;
                border-radius: 12px;
                height: 300px;
            }

            &__about {
                &-title {
                    color: #312E2C;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    padding-bottom: 24px;
                    margin-top: 40px;
                    font-family: "Young Serif", serif;
                }

                &-description {
                    color: #5F564D;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    margin-bottom: 32px;
                }
            }

            &__preparation {
                border-radius: 12px;
                background-color: #FFF7FB;
                padding: 24px 24px;

                &-title {
                    color: #7A284E;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                    padding-bottom: 16px;
                }

                &-steps {
                    color: #5F564D;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    list-style-type: disc;
                    padding-left: 24px;
                    gap: 8px;
                    display: flex;
                    flex-direction: column;

                    &-dot {
                        padding-left: 16px;
                    }

                    li::marker {
                        color: #7A284E;
                        font-size: 4px;
                    }
                }
            }

            &__ingredients {
                margin-top: 32px;

                &-title {
                    color: #854632;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    padding-bottom: 24px;
                    font-family: "Young Serif", serif;
                }

                &-names {
                    color: #5F564D;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    list-style-type: disc;
                    padding-left: 16px;
                    gap: 8px;
                    display: flex;
                    flex-direction: column;

                    &-dot {
                        padding-left: 12px;
                    }

                    li::marker {
                        color: #7A284E;
                        font-size: 4px;
                    }
                }
            }

            &__line {
                margin: 32px 0;
                background-color: #E3DDD7;
                height: 1px;
                border: 0;
            }

            &__instructions {
                &-title {
                    color: #854632;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    padding-bottom: 24px;
                    font-family: "Young Serif", serif;
                }

                &-steps {
                    color: #5F564D;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    gap: 8px;
                    display: flex;
                    flex-direction: column;
                    padding-left: 24px;

                    &-number {
                        padding-left: 12px;
                    }

                    li::marker {
                        font-size: 24px;
                        color: #854632;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }
                }
            }

            &__nutrition {
                &-title {
                    color: #854632;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    padding-bottom: 24px;
                    font-family: "Young Serif", serif;
                }

                &-description {
                    color: #5F564D;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    padding-bottom: 12px;
                }

                &-table {
                    width: 100%;
                    border-collapse: collapse;

                    &-body td {
                        padding: 12px;
                        text-align: left;
                        color: #854632;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        width: 50%;
                    }

                    &-body tr {
                        border-bottom: 1px solid #E3DDD7;
                        width: 100%;
                    }

                    &-body tr:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                    }

                    &-body th {
                        padding: 12px;
                        text-align: left;
                        color: #5F564D;
                        font-family: Outfit;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        width: 50%;
                        padding-left: 32px;
                    }
                }
            }
        }
    }
}